<app-header [title]="'request'" [defaultBack]="'/tabs/tabs/tab5'"></app-header>

<ion-content color="light">
    <ion-card>
        <div class="px-3">
            <div>
                <h4>Vous avez des questions?</h4>
                <div class="border rounded-md text-sm border-gray-800">
                    <div class="p-2 border-b flex justify-between items-center">
                        <span>Envoyez un e-mail a notre Service Client</span>
                        <svg class="w-4 h-4 text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div class="p-2 flex justify-between items-center">
                        <span>Appeler le Service client</span>
                        <svg class="w-4 h-4 text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M9 5l7 7-7 7"></path></svg>
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <h4>Vous avez des commentaires ou des suggestions a nous faire parvenir ?</h4>
                <div class="border rounded-md text-sm border-gray-800 p-2 text-sm flex justify-between items-center ">
                    <div>
                        <h5 class="text-sm m-0 mb-1">Donnez-vous votre avis sur cette application</h5>
                        <div class="text-gray-700 text-xs">
                            Nous vous lisons et prenons en compte vos commentaires sur notre application mais n'y repondrons pas directement
                        </div>
                    </div>
                    <svg class="flex-shrink-0 w-4 h-4 text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M9 5l7 7-7 7"></path></svg>
                </div>
            </div>
        </div>
    </ion-card>
</ion-content>
