<ion-header class="header-bg">
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-back-button  color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">filter product</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="light">
  <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
    <ion-card>
      <ion-card-header color="medium" class="ion-text-center">
        Filter
      </ion-card-header>
      <ion-card-content>
        <div class="ion-padding-top">
          <ion-label class="input-label">Véhicules</ion-label>
          <div class="form-group">
            <select class="form-control select-input">
              <option>ffff</option>
              <option>ffff</option>
              <option>ffff</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control select-input">
              <option>ffff</option>
              <option>ffff</option>
              <option>ffff</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control select-input">
              <option>ffff</option>
              <option>ffff</option>
              <option>ffff</option>
            </select>
          </div>
        </div>
        <div class="ion-padding-top">
          <ion-label class="input-label">
            Categories
          </ion-label>
          <div class="form-group">
            <select class="form-control select-input">
              <option>ffff</option>
              <option>ffff</option>
              <option>ffff</option>
            </select>
          </div>
        </div>
        <div class="ion-padding-top">
          <ion-label class="input-label">
            Constructeur
          </ion-label>
          <div class="form-group">
            <select class="form-control select-input">
              <option>ffff</option>
              <option>ffff</option>
              <option>ffff</option>
            </select>
          </div>
        </div>
        <div class="ion-padding-top">
          <ion-label class="input-label">
            Mot clé
          </ion-label>
          <div class="form-group">
            <select class="form-control select-input">
              <option>ffff</option>
              <option>ffff</option>
              <option>ffff</option>
            </select>
          </div>
        </div>
        <div class="ion-padding-top">
          <ion-label class="input-label ion-padding-end ion-margin-end">
            Qualité
          </ion-label>
          <div class="form-inline">
            <ion-radio-group class="flex flex-row justify-between">
              <div class="radio-group">
                <ion-radio mode="md"></ion-radio>
                <ion-label class="input-label">Origine</ion-label>
              </div>
              <div class="radio-group">
                <ion-radio mode="md"></ion-radio>
                <ion-label class="input-label">Origine</ion-label>
              </div>
              <div class="radio-group">
                <ion-radio mode="md"></ion-radio>
                <ion-label class="input-label">Origine</ion-label>
              </div>
            </ion-radio-group>
          </div>
        </div>
        <div class="ion-padding-top">
          <div style="display: flex;">
            <ion-label class="input-label ion-padding-end">
              Prix:
            </ion-label>
            <div class="justify-between">
              <ion-badge color="primary" class="ion-margin-end">{{ KnobsValue.lower }}</ion-badge>
              <ion-badge color="primary">{{ KnobsValue.upper }}</ion-badge>
            </div>
          </div>
          <ion-item>
            <ion-range id="dual-range" dual-knobs pin color="primary"
                       mode="ios"
                       class="price-range"
                       min="0" max="2000" [(ngModel)]="KnobsValue" [ngModelOptions]="{standalone: true}">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">2000 TND</ion-label>
            </ion-range>
          </ion-item>
        </div>
        <div class="ion-padding-top">
          <div class="form-inline">
            <ion-radio-group class="flex flex-row justify-between">
              <div class="radio-group">
                <ion-radio mode="md"></ion-radio>
                <ion-label class="input-label">Tous</ion-label>
              </div>
              <div class="radio-group">
                <ion-radio mode="md"></ion-radio>
                <ion-label class="input-label">En promotion</ion-label>
              </div>
            </ion-radio-group>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
      <ion-button class="btn btn-primary" fill="solid" expand="full">Filtrer</ion-button>
    </div>
  </form>
</ion-content>
