<app-header [title]="'quote View'" [defaultBack]="'/quote-list'"></app-header>

<ion-content color="light">
    <div class="px-2 bg-white m-3">
        <h4 class="text-sm font-medium uppercase tracking-wide">devis #1</h4>
        <h3>Demande de validation</h3>
        <div class="flex items-center justify-between mb-4">
         <span class="text-sm inline-flex items-center text-gray-800">
                        <svg class="w-6 h-6 mr-1" fill="none" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path
                                d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        Komi Koutche
                    </span>
            <span></span>
        </div>
      <div class="leading-relaxed text-gray-800 text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aliquam animi asperiores eveniet hic id iusto laboriosam minus natus necessitatibus nihil nulla odit pariatur perferendis placeat praesentium provident qui repudiandae similique soluta tempora tempore veritatis vitae, voluptatum! Accusantium ad animi delectus dicta distinctio dolore, expedita libero qui repellat voluptate?
      </div>
      <div class="flex items-center justify-end">
        <span class="text-gray-600 text-sm inline-flex items-center text-gray-700">
                           May 18, 2020</span>
      </div>
      <div>
        <div class="my-4">
          <div class="p-2 rounded-md bg-blue-200 flex items-center justify-start text-blue-600">
            <svg class="w-6 h-6 mr-3" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd"></path></svg>
            <span>Un fichier.pdf</span>
          </div>
        </div>
      </div>
    </div>
</ion-content>
