<div class="flex flex-row p-3 rounded-md items-center shadow-xl bg-white overflow-hidden m-2 border-gray-400 border" (click)="GoOrderDetails(order.id)">
    <div class="flex-shrink-0 w-1/4 p-3 bg-gray-200 mr-2 rounded-full">
        <img src="../assets/images/box.svg" class="w-12">
    </div>
    <div class="flex flex-col flex-grow w-3/4">
        <div class="flex justify-between items-center">
                <span>
                    <span class="text-xs text-gray-600">no</span>
                    {{ order.trackingNumber }}
                </span>
            <span class="">{{ order.amountTTC | currency: 'TND' }}</span>
        </div>
        <div class="flex items-center mt-3 justify-between">
            <span class="text-xs px-2 py-1 rounded-full" [ngClass]="{'bg-green-200 text-green-800': order.orderStatus === 'delivered' || order.orderStatus ==='processed',
                                                                       'bg-yellow-200 text-yellow-800': order.orderStatus === 'transit',
                                                                       'bg-red-200 text-red-800': order.orderStatus === 'canceled'}" >{{ order.orderStatus }}</span>
            <span class="text-sm text-gray-600" *ngIf="order.orderStatus === 'delivered'">{{ order.deliveryDateAchieved | date: 'dd-MM-y'}}</span>
            <span class="text-sm text-gray-600" *ngIf="order.orderStatus === 'processed'">{{ order.orderDate | date: 'dd-MM-y'}}</span>
        </div>
    </div>
</div>
