<ion-header>
  <ion-toolbar class="form-inline" mode="ios">
    <div class="form-inline">
      <ion-buttons>
        <ion-button (click)="closeModal()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar #autofocus placeholder="Référence ou mots clés" [animated]="true" [showCancelButton]="'focus'" cancelButtonIcon="close-circle-outline" class="search-bar" cancelButtonText="Annuler" autofocus="true"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
